

#navbar {
    height: 3.5rem;
    width: 100%;
    font-size: 1.5rem;
    background-color: aquamarine;
}
#brand {
    font-weight: bolder;
    position:absolute;
    left: 1.5rem;
    top: 0.5rem;
    height:100%;
}
#options {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
}

#options > * {
    padding: 0.5rem;
    height:100%;
}
